#card__wrapper {
    max-width: 320px;
    padding: 20px;
    margin: auto;
}

.icon__container {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #F14767;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon__container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 10px auto;
}

.image img {
    width: 100%;
    height: auto;
}